body{ 
    padding:0px;
    margin:0px;
}
.header{
    color:#fff0f0;
    height: 70px;
    background: rgb(54,54,68);
background: linear-gradient(90deg, rgba(54,54,68,1) 36%, rgba(66,66,80,1) 57%);
    padding-top: 10px;
    height: 100px;
}
.header{
    font-family:cursive;
    font-size: 25px;
}
.image{
    padding-top:0%;
}
.brandname{
    display: inline-block;
    vertical-align: top;
    color: white;
    padding-left: 10px;
}
.ing{
    height: 100%;
    width: 30%;
}
.log{
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
    padding-top: 10px;
 
}
.logo{
    height: 12vh;
    width:15vh;
}